.intro {
  &__image {
    position: absolute;
    top: 0;
    width: 100%;
    object-fit: fill;
    z-index: 0;
    transform: scaleX(-1);
  }

  &__inner {
    position: relative;
    top: 50px;
    z-index: 1;
    white-space: pre-line;
    margin-left: 8rem;
  }

  &__title {
    color: #fff;
    font-size: 3rem;
    line-height: 4rem;
  }

  &__button {
    @include button;
    color: #000;
    background-color: #fff;
    font-weight: 900;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-decoration: none;
  }
}
