.main {
  background-color: #f2f3f6;

  &__info-section {
    position: relative;
    height: 400px;
    z-index: 1;
  }

  &__statistics-section {
    height: 500px;
  }

  &__contact-us-section {
    position: relative;

    @media (max-width: 1300px) {
      height: 380px;
    }
  }
}
