.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    white-space: nowrap;
    z-index: 1;

    @media (max-width: 590px) {
      flex-direction: column;
    }

    &-item {
      transition: $header-hover-transform-transition;

      @media (max-width: 590px) {
        margin-bottom: 2rem;
        font-size: 2.5rem;
      }
    }

    &-item:hover {
      transform: $header-hover-scale;
    }

    &-item:not(:last-child) {
      margin-right: 40%;

      @media (max-width: 980px) {
        margin-right: 20%;
      }
    }
  }

  &__link {
    color: #fff;
    text-decoration: none;
    transition: $header-hover-color-transition;

    &:hover {
      color: $header-hover-color;
    }
  }
}

@media (max-width: 550px) {
  .nav__list.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .landing {
    flex-direction: column;
  }
  .nav__list li {
    opacity: 0;
  }
  .nav__list li a {
    font-size: 25px;
  }
  .nav__list li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav__list li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav__list li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }
}
