*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: $c-gray;
  font-family: "Roboto", Helvetica, sans-serif;
}

h1,
h2,
h3,
h5 {
  margin: 0;
  padding: 0;
}
