@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin button {
  display: block;
  padding: 1rem 3rem;
  width: fit-content;
  transition: $header-hover-transform-transition;

  &:hover {
    transform: scale(1.1);
  }
}

@mixin white-button {
  @include button;
  background-color: rgba($color: #fff, $alpha: 0.2);
  border: 1px solid #fff;
}

@mixin section-card-wrapper {
  position: relative;
  top: 10rem;
  right: 0;
  display: flex;
  margin-left: 8rem;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
  background-color: #fff;
  z-index: 0;
}

@mixin section-card-text {
  font-weight: 300;
  line-height: 1.7rem;
  margin-bottom: 3rem;
}
